<ion-header *ngIf="contentVisibility">
  <ion-toolbar>
    <ion-title>
      Escaner
    </ion-title>
    <ion-buttons mode="ios" slot="end" *ngIf="scannedResults.length > 0">
      <ion-button id="click-trigger-scan">
        <ion-icon name="help-circle-outline"></ion-icon>
      </ion-button>
      <ion-popover trigger="click-trigger-scan" triggerAction="click" dismissOnSelect="true">
        <ng-template>
          <ion-item (click)="openHelp(true)">
            <p>¿Necesitas ayuda?</p>
          </ion-item>
        </ng-template>
      </ion-popover>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="ionViewDidEnter($event.target)">
    <ion-refresher-content refreshingSpinner="lines"></ion-refresher-content>
  </ion-refresher>

  <ion-fab *ngIf="contentVisibility" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon name="scan"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="enterCodeManually()">
        <ion-icon name="keypad-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="scanQR()">
        <ion-icon name="qr-code-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>


  <ion-card mode="ios" *ngIf="scannedResults.length < 1 && contentVisibility">
    <ion-card-header>
      <ion-card-title>Guía de uso</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Aquí te explicamos cómo usar las funciones de escaneo disponibles
        en la aplicación, que encontrarás en el menú flotante al tocar el botón azul abajo a la derecha.
      </p>
      <hr>
      <ion-card-subtitle>Escanear código QR</ion-card-subtitle>
      <p>
        Para escanear un código QR, simplemente presiona el ícono del QR en el menú flotante y apunta la
        cámara hacia el código QR. La aplicación reconocerá automáticamente el código y realizará las acciones
        correspondientes.
      </p>
      <hr>
      <ion-card-subtitle>Ingresar código manualmente</ion-card-subtitle>
      <p>
        Si prefieres ingresar el código del paquete manualmente, toca el ícono de teclado en el menú flotante. Esto te
        permitirá ingresar el código utilizando el teclado en pantalla.
      </p>
      <ion-img src="assets/icon/LogoSinFondo.png"></ion-img>
    </ion-card-content>
  </ion-card>


  <ion-list *ngIf="scannedResults.length >= 1 && contentVisibility">
    <ion-list-header mode="ios">
      Paquetes agregados: {{ scannedResults.length }}
    </ion-list-header>

    <div class="container" *ngIf="contentVisibility">
      <ion-item *ngFor="let nestedArray of scannedResults; let i = index">
        <ion-label>
          <div class="img-text">
            <ion-img src="assets/icon/paquete.png" class="img-paquete"></ion-img>
            <span>#{{i + 1}}</span>
          </div>
        </ion-label>

        <ion-text *ngFor="let code of nestedArray">
          {{ code.codigoPaquete }}
        </ion-text>
        <ion-button color="danger" fill="clear" size="small" (click)="removePaquete(i)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-button class="star-route-button" slot="end" (click)="startRoute()">
          Iniciar ruta
        </ion-button>
      </ion-item>
    </div>
  </ion-list>

  <ion-modal mode="ios" [initialBreakpoint]="1" [breakpoints]="[0, 0.30, 0.5, 0.75, 1]" [isOpen]="isHelpOpen"
    (ionModalDidDismiss)="onModalDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Ayuda</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="openHelp(false)">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-card mode="ios">
          <ion-card-header>
            <ion-card-title>Guía de uso</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>
              Aquí te explicamos cómo usar las funciones de escaneo
              disponibles en la aplicación, que encontrarás en el menú flotante al tocar el botón azul abajo a la
              derecha.
            </p>
            <hr>
            <ion-card-subtitle>Escanear código QR</ion-card-subtitle>
            <p>
              Para escanear un código QR, simplemente presiona el ícono del QR en el menú flotante y apunta la
              cámara hacia el código QR. La aplicación reconocerá automáticamente el código y realizará las acciones
              correspondientes.
            </p>
            <hr>
            <ion-card-subtitle>Ingresar código manualmente</ion-card-subtitle>
            <p>
              Si prefieres ingresar el código del paquete manualmente, toca el ícono de teclado en el menú flotante.
              Esto te permitirá ingresar el código utilizando el teclado en pantalla.
            </p>
            <ion-img src="../../../assets/icon/LogoSinFondo.png"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>

  <div class="sample-background" *ngIf="!contentVisibility"></div>
  <div class="container-scan" *ngIf="!contentVisibility">
    <div class="barcode-scanner--area--container">
      <div class="relative">
        <p class="qr-text">Apunta tu cámara al código QR</p>
      </div>
      <div class="square surround-cover">
        <div class="barcode-scanner--area--outer surround-cover">
          <div class="barcode-scanner--area--inner"></div>
        </div>
      </div>
    </div>
  </div>

  <ion-fab *ngIf="!contentVisibility" vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="primary" (click)="toggleFlashlight()">
      <ion-icon [name]="isFlashlightOn ? 'flash-off-outline' : 'flash-outline'"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
<ion-button mode="ios" color="danger" expand="block" (click)="stopScan()" *ngIf="!contentVisibility">
  Cancelar
</ion-button>